* {
    margin: 0px;
    padding: 0px;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "roboto";
}

.header {
    display: flex;
    justify-content: flex-start; 
    margin: 32px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
}

.hero-1 {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    gap: 8px;
}

button {
    width: 100px;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 5px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero > img {
    width: 400px;
    height: auto;
    margin: 64px;
}

.hero-header-container {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.photos{
    display: flex;
    justify-content: center;
    gap: 32px;
    
}

.photo > img {
    width: 150px;
    height: auto;
    border: solid 4px #3882F6;
    border-radius: 8px;
}

.photo > .subtext {
    width: 150px;
    text-align: center;
}

.title {
    text-align: center;
    margin: 32px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 64px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.quote {
    width: 500px;
    font-style: italic;
}

.author {
    align-self: center;
    font-weight: 800;
}

.action-container {
    display: flex;
    justify-content: center;
    padding: 32px;
    background-color: #3882F6;
    margin: 64px;
    border-radius: 8px;
    gap: 16px;
}

#action-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: solid 2px #E5E7EB;
    margin-left: 32px;
}

.action-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.action-text {
    color: #F9FAF8;
    font-size: 16px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.footer-text{
    color: #F9FAF8;
}